/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Aptos, sans-serif !default;
$presentation-font-size-root:   34px;

// headings
$presentation-heading-font: Aptos, sans-serif !default;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.4em;
$presentation-h3-font-size: 1.2em;


// code 
$code-block-font-size: 0.70em;

$callout-style-font-size: .5em;
$callout-style-font-weight: 400;

$slide-logo-size: 200px;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}